@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-icons/font/bootstrap-icons.css';


.launch-card-row:hover {
    background-color: #F5F5F5;
}
.disable-row {
    background-color: lightgrey;
};
.disable-row:hover {
    background-color: lightgrey;
};
